/* <---------- COMMON STYLES ----------> */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* <---------- BODY STYLES ----------> */

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* <---------- MAIN STYLES ----------> */

.content {
  display: flex;
  inline-size: 100%;
  margin: auto;
  padding: 133px 30px;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* align-self: flex-end; */
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: none;
  /* cursor: pointer; */ 
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__fieldset-title {
  font-weight: 400;
}

.search-form__textfield {
  inline-size: 225px;
  border-inline: none;
  border-block: 1px solid #fff;
  font-size: 18px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
}

.search-form__textfield::placeholder {
  
}

.search-form__checkbox-list {
  
}

.search-form__pseudo-checkbox {
  
}

.button {
  
}

.search-form__submit-button {
  
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: "Oswald";
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  block-size: 298px;
  position: relative;
  overflow-y: scroll;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-description {
  line-height: 90%;
}

.content__video-card {
  display: flex;
  align-items: flex-start;  
}

.content__video-card-title {
  font-family: "Oswald";
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}


